ipywidgets==8.1.7
applyllm==0.0.8.post1

# transformers==4.56.2
# accelerate==1.10.1
transformers==4.57.3
accelerate==1.12.0

# torch==2.9.0
# torchaudio==2.9.0
# torchvision==0.24.0
torch==2.9.1
torchaudio==2.9.1
torchvision==0.24.1

# matplotlib==3.10.7
matplotlib==3.10.8
# fast BPE tokenizer for openai models
tiktoken==0.12.0
# pydantic==2.12.3
pydantic==2.12.5
# typing guard back port to 3.8 
# typing-extensions==4.12.2

# mlx==0.29.3
# mlx-lm==0.28.3

mlx==0.30.0
mlx-lm==0.28.4